.navbar-section {
    display: block;
}

.mobile-navbar-section {
    display: none;
}

.bottom-mobile-navbar-menu {
    display: none;
}

.navbar {
    background-color: #fff;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
    font-weight: 500;
    color: #333;
}

.navbar-brand span {
    font-weight: 800;
}

.navbar .navbar-nav {
    gap: 50px;
    display: flex;
    align-items: center;
}

.navbar .navbar-nav .nav-link.active {
    color: #717fe0;
    border-bottom: 2px solid #717fe0;
    transform: scale(1.07);
}

.navbar .navbar-nav .nav-link {
    color: #333;
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    transform: scale(1);
    transition: transform 0.6s ease;
}

.navbar .navbar-nav .nav-link:hover {
    color: #717fe0;
    font-weight: 500;
}

.navbar .nav2 ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 30px;
}

.navbar .nav2 li {
    color: #333;
    font-size: 23px;
    cursor: pointer;
}

.navbar .nav2 li:nth-child(2) {
    position: relative;
}

.navbar .nav2 li:nth-child(2) span {
    position: absolute;
    top: -2px;
    right: -10px;
    font-size: 14px;
    background-color: #333;
    color: #fff;
    border-radius: 99px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav2 li:last-child {
    position: relative;
}

.navbar .nav2 li:last-child span {
    position: absolute;
    top: -2px;
    right: -10px;
    font-size: 14px;
    background-color: #333;
    color: #fff;
    border-radius: 99px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav2 li:hover {
    color: #717fe0;
}

/* offcanvas */
.offcanvas {
    padding: 40px;
}

.offcanvas .offcanvas-header {
    padding: 0;
}

.offcanvas-header .btn-close:focus {
    box-shadow: none;
}

.offcanvas .offcanvas-title {
    font-weight: 800;
}

.offcanvas .offcanvas-body {
    position: relative;
    padding: 20px 0 0;
}

.offcanvas-body .added-items {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #999999;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.offcanvas-body .added-items .image {
    width: 100px;
    height: 100px;
}

.offcanvas-body .added-items .image img {
    width: 100%;
    height: 100%;
}

.offcanvas-body .added-items .remove-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: red;
}

.offcanvas-body .added-items .details .remove-icon:hover {
    color: darkred;
}


.offcanvas-body .added-items .details h4 {
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
    text-transform: capitalize;
}

.offcanvas-body .added-items .details p {
    font-size: 15px;
    color: #999999;
    font-weight: 500;
    margin: 0;
}

.offcanvas-body .added-items .details ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}

.offcanvas-body .added-items .details li {
    font-size: 25px;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.offcanvas-body .added-items .details li:hover {
    color: #717fe0;
}

.offcanvas-body .added-items .details li:nth-child(2) {
    font-size: 18px;
}

.offcanvas .total-btns {
    padding: 20px 0 0;
}

.offcanvas .total-btns .total h3 {
    font-size: 20px;
    color: #333;
    font-weight: 300;
}

.offcanvas .total-btns .total strong {
    font-weight: 700;
}

.offcanvas .total-btns .buttons {
    display: flex;
    margin-top: 30px !important;
    gap: 5px;
}

.offcanvas .total-btns .buttons button {
    background-color: #000;
    border: none;
    border-radius: 20px;
    padding: 8px 0;
    width: 50%;
}

.offcanvas .total-btns .buttons button:hover {
    background-color: #717fe0;
}

.offcanvas-body .empty-cart {
    display: flex;
    flex-direction: column;
    color: #666;
    align-items: center;
    justify-content: center;
    height: 100%;
}


/* mobile-responsive */


@media (min-width: 320px) and (max-width: 480px) {
    .mobile-navbar-section {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: block;
        height: 60px;
        align-content: center;
    }

    .navbar-section {
        display: none;
    }

    .mobile-navbar-section .contents {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-navbar-section .contents .brand h3 {
        font-weight: 800;
        color: #333;
        margin: 0;
        font-size: 20px;
    }

    .mobile-navbar-section .contents .brand span {
        font-weight: 500;
        color: #333;
    }

    .mobile-navbar-section .contents .icons ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .mobile-navbar-section .contents .icons li {
        font-size: 25px;
    }

    .mobile-navbar-section .contents .icons li:nth-child(2) {
        position: relative;
    }

    .mobile-navbar-section .contents .icons li:nth-child(2) span {
        position: absolute;
        top: -5px;
        right: -10px;
        font-size: 14px;
        background-color: #333;
        color: #fff;
        border-radius: 99px;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-navbar-section .contents .icons ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .mobile-navbar-section .contents .icons li:last-child {
        position: relative;
    }

    .mobile-navbar-section .contents .icons li:last-child span {
        position: absolute;
        top: -5px;
        right: -10px;
        font-size: 14px;
        background-color: #333;
        color: #fff;
        border-radius: 99px;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* bottom-mobile-navbar-menu */

    .bottom-mobile-navbar-menu {
        display: block;
        position: fixed;
        bottom: 0;
        z-index: 999;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
        height: 60px;
        width: 100%;
    }

    .bottom-mobile-navbar-menu ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        margin: 0;
        gap: 28px;
    }

    .bottom-mobile-navbar-menu li {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        cursor: pointer;
        transform: scale(0.9);
        transition: transform 0.3s ease;
    }

    .bottom-mobile-navbar-menu li.active {
        color: #717fe0;
        transform: scale(1.1);
    }

    /* offcanvas */

    .offcanvas {
        padding: 20px;
        max-width: 80%;
    }

    .offcanvas .offcanvas-title {
        font-size: 18px;
    }

    .offcanvas .offcanvas-body {
        padding-top: 20px;
    }

    .offcanvas-body .added-items .details h4 {
        font-size: 16px;
        font-weight: 300;
        width: 130px;
    }

    .offcanvas-body .total-btns .total h3 {
        font-size: 18px;
        color: #333;
        font-weight: 300;
    }

    .offcanvas-body .total-btns .buttons {
        gap: 5px;
    }

    .offcanvas-body .total-btns .buttons button {
        background-color: #000;
        border: none;
        border-radius: 20px;
        padding: 8px 12px;
        font-size: 15px;
    }
}